<!DOCTYPE html>
<html>
<head>
	<title>Predicting Mortgage Prepayment Risk  </title>
</head>
<body>
    <h1> Predicting Mortgage Prepayment Risk  </h1>
    <hr>
    {% if result %}
        <h1> Flower you're trying to classify is {{result}} </h1>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        CreditScore : <input type="number" name="creditscore" required><br>
        OrigUPB : <input type="number" name="origupb" required><br>
        IsFirstTime : <input type="number" name="isfirsttime" required><br>
        CreditRange_excellent  : <input type="number" name="creditrange_excellent" required><br>
        CreditRange_good  : <input type="number" name="creditrange_good" required><br>
        CreditRange_poor  : <input type="number" name="creditrange_poor" required><br>

        <input type="submit">
    </form>
</body>
</html>
